@charset "utf-8";
@import url('reset.css');
/*@import url('demo.css');*/
/* insert here other import Files */
/* Core CSS Selectors */
/* Set-Up here your standard Classes */
body {  font-size: 12px; background: #aaa url(../_img/bg.jpg) repeat left top; font-family: "Lucida Grande";}
.wrapper { width: 981px; margin: 0 auto; }
.clear { clear: both !important; }
.left { float: left; }
.right { float: right; }
.relative { position: relative; }
.absolute { position: absolute; }
hr.clear {
	height: 0;
	margin: 0;
	visibility: hidden;
}
/* Set up the Shoutbox specific CSS */
	#shoutbox { width: 260px }
	#shoutbox form { width: 260px }
	#entries { padding: 25px 0; width: 177px; margin: 0 auto }
	.post { padding: 10px 0; border-bottom: 1px solid #444; border-top: 1px solid #fff; border-top-color: rgba(255,255,255,.6); }
	.post:last-child { border-bottom: none; }
	.post:first-child { border-top: none; }
	.post.odd { color: #444;}
	.post.even { color: #111; }
	#shoutbox form div.relative.clear { margin: 0 auto; padding-top: 15px; }
	#entries .metaInfo { line-height: 1.2; }
	#entries abbr { cursor: help; font-weight: bold; border-bottom: 1px dotted #fff;}
	#entries .loader, #shoutbox form { display: block; text-align: center; }
	#entries .loader img { margin: 0 0 5px 0; }
	#shoutbox input, #shoutbox textarea { font-family: "Lucida Grande"; line-height: 1; font-size: 12px; background: transparent url(../_img/form.png) no-repeat; border: 0; width: 166px; color: #fff; text-shadow: 1px 1px 0 #000;}
	#shoutbox label { left: 0; cursor: text; padding: 5px 0 0 5px; color: #fff; text-shadow: 1px 1px 0 #000;}
	#shoutbox input { left: 0; top: 0; padding: 5px; background-position: -10px -10px; height: 15px; color: #d9d9d9; }
	#shoutbox input.submit { margin-top: 25px; background: transparent url(../_img/button.png) no-repeat -10px -10px; width: 89px; height: 0; padding-top: 29px; font-size: 1px;  }
	#shoutbox input.submit:hover { background-position: -10px -47px; }
	#shoutbox input.submit:focus { outline: none; background-position: -10px -84px; }
	#shoutbox textarea { line-height: 1.5; padding: 5px; background-position: -10px -45px; height: 79px; color: #d9d9d9; }
	
	#shoutbox input.hover, #shoutbox input:hover, #shoutbox input:focus { background-position: -196px -10px; color: #fff;}
	#shoutbox textarea.hover, #shoutbox textarea:hover, #shoutbox textarea:focus { background-position: -196px -45px; color: #fff; }