@charset "utf-8";
@import url('reset.css');
@import url('richardthielde.css');
/* insert here other import Files */
/* Core CSS Selectors */
/* Set-Up here your standard Classes */



body {  font-size: 12px; background: #aaa url(../_img/bg.jpg) repeat left top; font-family: "Lucida Grande";}
.wrapper { width: 381px; margin: 0 auto; }
.clear { clear: both !important; }
.left { float: left; }
.right { float: right; }
.relative { position: relative; }
.absolute { position: absolute; }
hr.clear {
	height: 0;
	margin: 0;
	visibility: hidden;
}
h2 { position: relative; padding-top: 25px; color: #fff; font-size: 25px; text-shadow: 1px 1px 1px #333;}
h2 span { font-size: 12px; position: absolute; margin: 8px 0 0 8px;}
/* Set up the Shoutbox specific CSS */
	#shoutbox { width: 260px }
	#shoutbox form { width: 260px }
	#entries { padding: 25px 0; width: 177px; margin: 0 auto }
	.post { padding: 10px 0; border-bottom: 1px solid #444; border-top: 1px solid #fff; border-top-color: rgba(255,255,255,.6); }
	.post:last-child { border-bottom: none; }
	.post:first-child { border-top: none; }
	.post.odd { color: #444;}
	.post.even { color: #111; background: #ddd; }
	#shoutbox form div.relative.clear { margin: 0 auto; padding-top: 15px; }
	#entries .metaInfo { line-height: 1.2; }
	#entries abbr { cursor: help; font-weight: bold; border-bottom: 1px dotted #fff;}
	#entries .loader, #shoutbox form { display: block; text-align: center; }
	#entries .loader img { margin: 0 0 5px 0; }
	#shoutbox input, #shoutbox textarea { font-family: "Lucida Grande"; line-height: 1; font-size: 12px; background: transparent url(../_img/form.png) no-repeat; border: 0; width: 166px; color: #fff; text-shadow: 1px 1px 0 #000;}
	#shoutbox label { left: 0; cursor: text; padding: 5px 0 0 5px; color: #fff; text-shadow: 1px 1px 0 #000;}
	#shoutbox input { left: 0; top: 0; padding: 5px; background-position: -10px -10px; height: 15px; color: #d9d9d9; }
	#shoutbox input.submit { margin-top: 25px; background: transparent url(../_img/button.png) no-repeat -10px -10px; width: 89px; height: 0; padding-top: 29px; font-size: 1px;  }
	#shoutbox input.submit:hover { background-position: -10px -47px; }
	#shoutbox input.submit:focus { outline: none; background-position: -10px -84px; }
	#shoutbox textarea { line-height: 1.5; padding: 5px; background-position: -10px -45px; height: 79px; color: #d9d9d9; }
	
	#shoutbox input.hover, #shoutbox input:hover, #shoutbox input:focus { background-position: -196px -10px; color: #fff;}
	#shoutbox textarea.hover, #shoutbox textarea:hover, #shoutbox textarea:focus { background-position: -196px -45px; color: #fff; }
	#shoutbox .error { color: #781717; margin: 3px 0; display: block; width: 170px; float: right; text-align: left; margin-left: ;}
	#shoutbox .error.js { margin-left: 0; }
	
	.drop-shadow {
	            position:relative;
	            padding:1em; 
	            margin:8px auto 10px; 
	            background:#fff;
	            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
	               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	        }

	        .drop-shadow:before,
	        .drop-shadow:after {
	            content:"";
	            position:absolute; 
	            z-index:-2;
	            bottom:15px;
	            left:10px;
	            width:50%;
	            height:20%;
	        }

	        .drop-shadow:after{                 
	            right:10px; 
	            left:auto;
	        }

	        .round {
	            -moz-border-radius:4px; 
	                 border-radius:4px;
	        }

	        .round:before,
	        .round:after { 
	            max-width:300px;
	            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
	               -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	                    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	            -webkit-transform:rotate(-3deg);    
	               -moz-transform:rotate(-3deg);   
	                 -o-transform:rotate(-3deg);
	                    transform:rotate(-3deg);
	        }

	        .round:after {
	            -webkit-transform:rotate(3deg);   
	               -moz-transform:rotate(3deg);  
	                 -o-transform:rotate(3deg);
	                    transform:rotate(3deg);
	        }

	        .curls {
	            border:1px solid #efefef; 
	            -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;    
	                 border-radius:0 0 120px 120px / 0 0 6px 6px;
	        }

	        .curls:before,
	        .curls:after { 
	            bottom:12px;
	            max-width:200px;
	            height:55%;
	            -webkit-box-shadow:0 8px 16px rgba(0, 0, 0, 0.4); 
	               -moz-box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
	                    box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
	            -webkit-transform:skew(-8deg) rotate(-4deg);
	               -moz-transform:skew(-8deg) rotate(-4deg);
	                 -o-transform:skew(-8deg) rotate(-4deg);
	                    transform:skew(-8deg) rotate(-4deg);
	        } 

	        .curls:after { 
	            -webkit-transform:skew(8deg) rotate(4deg); 
	               -moz-transform:skew(8deg) rotate(4deg);     
	                 -o-transform:skew(8deg) rotate(4deg); 
	                    transform:skew(8deg) rotate(4deg);
	        }
	
	
/*	
	* { outline: 2px dotted red !important }
	* * { outline: 2px dotted green !important }
	* * * { outline: 2px dotted orange !important }
	* * * * { outline: 2px dotted blue !important }
	* * * * * { outline: 1px solid red !important }
	* * * * * * { outline: 1px solid green !important }
	* * * * * * * { outline: 1px solid orange !important }
	* * * * * * * * { outline: 1px solid blue !important } */